run = ["uvicorn", "main:app", "--host", "0.0.0.0", "--reload"]
modules = ["python-3.11"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-24_05"
packages = ["curl", "ffmpeg", "git", "httpie", "jq", "libxcrypt", "postgresql_16", "redis", "tree"]

[deployment]
run = ["uvicorn", "main:app", "--host", "0.0.0.0", "--port", "5000"]
deploymentTarget = "autoscale"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 35569
externalPort = 3003

[[ports]]
localPort = 37059
externalPort = 3000

[[ports]]
localPort = 39879
externalPort = 3001

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "uvicorn main:app --host 0.0.0.0 --port 5000 --reload --reload-dir . --reload-exclude=attached_assets"
waitForPort = 5000
